<mat-card class="question-card">
  <div class="image-holder">
    <img mat-card-image
         style="max-height: 520px"
         src="{{picUrl}}"
         alt="picture of a location">
      <mat-icon matTooltip="Go to homepage" class="next-arrow-icon" routerLink="/">navigate_next</mat-icon>
  </div>
  <mat-card-content>
    <ng-container *ngFor="let choice of choices">
      <button mat-button class="choice-button" disabled="true">
        <mat-icon>{{getButtonIcon(choice)}}</mat-icon>
        {{choice | uppercase}}</button>
    </ng-container>
  </mat-card-content>
</mat-card>
