<mat-sidenav-container class="sidenav-container">
<!--  <mat-sidenav #drawer class="sidenav" fixedInViewport-->
<!--      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"-->
<!--      [mode]="(isHandset$ | async) ? 'over' : 'side'"-->
<!--      [opened]="(isHandset$ | async) === false">-->
<!--    <mat-toolbar>Menu</mat-toolbar>-->
<!--    <mat-nav-list>-->
<!--      <a mat-list-item href="#">Link 1</a>-->
<!--      <a mat-list-item href="#">Link 2</a>-->
<!--      <a mat-list-item href="#">Link 3</a>-->
<!--    </mat-nav-list>-->
<!--  </mat-sidenav>-->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
<!--      <button-->
<!--        type="button"-->
<!--        aria-label="Toggle sidenav"-->
<!--        mat-icon-button-->
<!--        (click)="drawer.toggle()"-->
<!--        *ngIf="isHandset$ | async">-->
<!--        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>-->
<!--      </button>-->
      <button mat-button [routerLink]="['/']">
        <mat-icon aria-hidden="false" aria-label="Create New Todo">local_airport</mat-icon>
        Wisit
      </button>
      <button mat-button [routerLink]="['/game']">Play</button>
      <button mat-button [routerLink]="['/leaderboard']">Leaderboard</button>
      <ng-container *ngIf="internalLinks">
        <mat-menu #appMenu="matMenu">
          <ng-container *ngFor="let internalLink of internalLinks">
            <button mat-menu-item [routerLink]="internalLink">{{internalLink}}</button>
          </ng-container>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>more_vert</mat-icon>
        </button>
      </ng-container>
    </mat-toolbar>
    <div class="grid-container">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
