<mat-tab-group>
  <mat-tab label="Today">
    <ng-template matTabContent>
      <app-board [leaderboardItems$]="getDailyLeaderboard$()"></app-board>
    </ng-template>
  </mat-tab>
  <mat-tab label="This Week">
    <ng-template matTabContent>
      <app-board [leaderboardItems$]="getWeeklyLeaderboard$()"></app-board>
    </ng-template>
  </mat-tab>
  <mat-tab label="This Month">
    <ng-template matTabContent>
      <app-board [leaderboardItems$]="getMonthlyLeaderboard$()"></app-board>
    </ng-template>
  </mat-tab>
</mat-tab-group>
