  <ng-container *ngIf="noMoreQuestions">
    <p>No more questions for you, come back later.</p>
  </ng-container>
  <ng-container *ngIf="!noMoreQuestions">
    <mat-card class="question-card" #questionCard>
<!--      <ng-container *ngIf="loading">-->
<!--        <mat-progress-spinner [mode]="'indeterminate'">-->
<!--        </mat-progress-spinner>-->
<!--        <span>{{loadingText}}</span>-->
<!--      </ng-container>-->
        <div class="image-holder">
          <img mat-card-image
               style="max-height: 520px"
               src="{{simpleQuestion.picUrl}}"
               alt="picture of a location">
          <ng-container *ngIf="answered()">
            <mat-icon matTooltip="Next" class="next-arrow-icon" (click)="next()">navigate_next</mat-icon>
          </ng-container>
        </div>
        <mat-card-content>
          <ng-container *ngFor="let choice of simpleQuestion.choices">
            <button mat-button class="choice-button"
                    disabled="{{answered()}}"
                    (click)="onAnswer(choice)"
                    color="{{getButtonColor(choice)}}">
              <mat-icon>{{getButtonIcon(choice)}}</mat-icon>
              {{choice.name | uppercase}}</button>
          </ng-container>
          <!--      <button mat-button class="choice-button" (click)="toggleInfo()" disabled="{{!answered()}}">INFO</button>-->
          <!--      <div *ngIf="showInfo">-->
          <!--        <p>{{simpleQuestion.info || 'No info available for this picture.'}}</p>-->
          <!--      </div>-->
        </mat-card-content>
    </mat-card>
  </ng-container>
