<ng-container *ngIf="noMoreQuestions">
  <p>No more questions for you, come back later.</p>
</ng-container>

<ng-container *ngIf="!noMoreQuestions">
    <div class="question-card">
    <mat-card #questionCard>
      <div class="image-holder">
        <img mat-card-image
             class="question-img"
             (load)="imageLoaded()"
             src="{{simpleQuestion.picUrl}}"
             alt="picture of a location">
        <ng-container *ngIf="answered()">
          <mat-icon matTooltip="Next" class="next-arrow-icon" (click)="next()">navigate_next</mat-icon>
        </ng-container>
      </div>
      <mat-card-content>
        <ng-container *ngFor="let choice of simpleQuestion.choices">
          <button mat-button class="choice-button"
                  disabled="{{answered()}}"
                  (click)="onAnswer(choice)"
                  color="{{getButtonColor(choice)}}">
            <mat-icon>{{getButtonIcon(choice)}}</mat-icon>
            {{toChoiceValue(choice) | uppercase}}</button>
        </ng-container>
      </mat-card-content>
    </mat-card>
      <app-question-info
        [simpleQuestion]="simpleQuestion"
        (questionReported)="fetchNewQuestion(true)"></app-question-info>
    <mat-divider></mat-divider>
  </div>
</ng-container>
