.question-card {
  margin: auto;
  width: 100%;
  max-width: 750px;
  min-height: 800px;
}

.question-img {
  height: 100%;
  max-height: 520px;
}

.mat-card-content {
  margin-bottom: 0;
}

.choice-button {
  width: 50%;
  text-align: left;
}

.image-holder {
  position: relative;
}

.next-arrow-icon {
  top: 43%;
  position: absolute;
  right: 15px;
  transform: scale(3);
  color: antiquewhite;
}

.next-arrow-icon:hover {
  color: white;
  cursor:pointer;
}

.question-actions {
}

.question-action-button {
  transform: scale(0.80);
}
