.header-headline {
  align-content: center;
  padding: 60px 20px;
  margin: -25px;
  text-align: center;
  color: #fff;
  background: #3f51b5 linear-gradient(145deg, #202983, #7582cb);
}

.mat-h1 {
  font-size: 56px;
  font-weight: 300;
  line-height: 56px;
  margin: 15px 5px;
}

main {
  padding-top: 60px;
}

.row {
  max-width: 920px;
  margin: 30px auto;
  color: rgba(0,0,0,.54);
}

.row-desc {
  line-height: 2;
  max-width: 440px;
  margin: auto;
}

.row-img {
  max-width: 440px;
  margin: auto;
}

.full-size {
  max-width: 100%;
  max-height: 100%;
}

.question-card {
  margin: auto;
  max-width: 600px;
}

.mat-card-content {
  margin-bottom: 0;
}

.choice-button {
  width: 50%;
  text-align: left;
}

.welcome-text {
  margin-bottom: 20px;
}
