<!--<mat-form-field>-->
<!--  <mat-label>Filter</mat-label>-->
<!--  <input matInput (keyup)="applyFilter($event)" placeholder="search">-->
<!--</mat-form-field>-->
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rank</th>
      <td mat-cell *matCellDef="let row">{{row.rank}}</td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
      <td mat-cell *matCellDef="let row">{{row.username}}</td>
    </ng-container>

    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Score</th>
      <td mat-cell *matCellDef="let row">{{row.score}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <ng-container *ngIf="dataSource?.data.length > 25">
    <mat-paginator #paginator
                   [length]="dataSource?.data.length"
                   [pageIndex]="0"
                   [pageSize]="50"
                   [pageSizeOptions]="[25, 50, 100, 250]">
    </mat-paginator>
  </ng-container>
  <ng-container *ngIf="dataSource?.data.length === 0">
    <p>There is no one in the leaderboard yet.</p>
  </ng-container>
</div>
